<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Clients</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body >
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container-fluid">
		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<a class="navbar-brand"  th:href="@{/}">
			<img src="https://e7.pngegg.com/pngimages/54/277/png-clipart-graphics-computer-icons-illustration-bank-text-logo.png" height="25" alt="MDB Logo" loading="lazy"/>
		</a>


	</div>
</nav>

<!-- Sidebar -->
<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<br>
					<br>
					<br>
					<li class="nav-item">
						<a class="nav-link " style=" font-size:20px" href="#" role="button" th:href="@{/}">Accueil</a>

					</li>
					<br>
					<br>
					<br>
					<li class="nav-item">
						<a class="nav-link " style=" font-size:20px" href="#" role="button" th:href="@{/MenuEmploye}">Employe</a>

					</li>


					<br>
					<br>

					<li class="nav-item ">
						<a class="nav-link " style=" font-size:20px" href="#" role="button"  th:href="@{/MenuClients}" >Client</a>

					</li>
					<br>
					<br>


					<li class="nav-item ">
						<a class="nav-link" style=" font-size:20px" href="#"  role="button" th:href="@{/MenuComptes}" >Compte</a>

					</li>


					<br>

					<br>
					<li class="nav-item ">
						<a class="nav-link " style=" font-size:20px" href="#" role="button" th:href="@{/MenuGroupe}" >Groupe</a>

					</li>

					<br>

					<br>
					<li class="nav-item ">
						<a class="nav-link" style=" font-size:20px" href="#"  role="button" th:href="@{/MenuOperations}" >Operation</a>

					</li>



					<br>

					<br>

					<li>					<br>
						<br>
						<br>
						<br>
					</li>
					<li>
						<br>
						<br>
					</li>

				</ul>
			</div>
		</nav>

		<!-- Main content -->
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 58px;">
			<div class="container pt-4">





	</br></br></br>	
	<div align="center" style="font-size:19px" class="container my-2">
    <table class="table table-responsive-sm table-striped " style=" ">
		<thead>
			<tr>
      			<th scope="col">Type du compte</th>
      			<th scope="col">Code du compte</th>
      			<th scope="col">Date de creation</th>
      			<th scope="col">Solde</th>
      			<th th:if="${OneAcount.TypeCompte} == 'CC'" scope="col">decouvert</th>
      			<th th:if="${OneAcount.TypeCompte} == 'CE'" scope="col">taux</th>
      			<th scope="col">Code Client</th>
      			<th scope="col">Code emplye</th>
    		</tr>
  		</thead>
  <tbody>
    <tr>
    	<td th:text="${OneAcount.TypeCompte}"></td>
      	<td th:text="${OneAcount.codeCompte}"></td>
      	<td th:text="${OneAcount.dateCreation}"></td>
      	<td th:text="${OneAcount.solde}"></td>
      	<td th:if="${OneAcount.TypeCompte} == 'CC'" th:text="${OneAcount.decouvert}"></td>
      	<td th:if="${OneAcount.TypeCompte} == 'CE'" th:text="${OneAcount.taux}"></td>
      	<td th:text="${OneAcount.client.codeClient}"></td>
      	<td th:text="${OneAcount.employe.codeEmploye}"></td>
       
      
    </tr>
    
  </tbody>
</table>
</div>
</div>





	</div>
	</main>
</div>
</div>
	

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>
